.content {
	background-image: url("../img/register.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 700px;
	color: #ffff99;
	

}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

.input {
	height: 48px;
	width: 500px;
	line-height: 30px;
	padding-left: 15px;
	margin-bottom: 27px;
	border: 0px;
	border-radius: 5px;
	text-align: center;
	background-color: #ffff99;
	font-size: 20px;

}

.form {
	height: 600px;
	border-radius: 10px;
/*	background-color: #ffff99;*/
	background-color: rgb(0,0,0,.75);
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
	
}

.form-heading {
	font-size: 24px;
	text-align: center;
	color: gray;
	font-weight: bolder;
	padding: 10px;
	margin: 0px;
}

.form-img {
	margin: 0px;
	padding: 0px;
	height: 500px;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-left: 6px;

}


.remember-heading {
	padding-left: 180px;
	cursor: pointer;
}

.sign-heading {
	padding-right: 155px;
}

.sign-link {
	color: #ffff99;
	text-decoration: none;
}

.sign-link:hover {
	border: solid  0.2px ;
	border-radius: 20px;
	background-color: #172035;	
	padding: 13px;
}

.btn-wrapper a {
	text-decoration: none;
	color: ;
}

